{% extends "base.html" %}
{% load web_extras %}

{% block title %}Results list{% endblock %}

{% block content %}

<h1>All Results</h1>

<form method="get" class="form-inline mt-4 mb-4">

    {% load crispy_forms_tags %}

    {% crispy filter.form %}
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Paper Index</th>
        <th scope="col">Created</th>
        <th scope="col">Form Type</th>
        <th scope="col">Team Name</th>
        <th scope="col">Added by</th>
      </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
            {% get_person_type item as person_type %}
            <tr>
                <td>
                   <a href="{% url 'result-detail' item.paper_index %}">{{ item.paper_index }}</a>
                </td>
                <td>
                    {{ item.created_at }}
                 </td>
                 <td>
                     {{ person_type|title }}
                 </td>
                <td>
                    {{ item.team.name|title }}
                </td>
                <td>
                    {{ item.added_by|title }}
                </td>
            </tr>
        {% empty %}
            <tr>No results yet.</tr>
        {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}

    {% include 'includes/pagination.html' %}

  {% endif %}

{% endblock %}
