{% extends "base.html" %}

{% block title %}Results list{% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Team Name</th>
        <th scope="col">Added by</th>
      </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
            <tr>
                <td>
                   <a href="{% url 'form-detail' uuid=item.id %}">{{ item.created_at }}</a>
                </td>
                <td>
                    {{ item.team.name }}
                </td>
                <td>
                    {{ item.added_by }}
                </td>
            </tr>
        {% empty %}
            <tr>No respones yet.</tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
