<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="{% url 'results' %}">Results</a>
                    {% if perms.web.code_response %}
                        <a class="nav-item nav-link" href="{% url 'uncoded-list' %}">Uncoded</a>
                    {% endif %}
            </div>
            <div class="navbar-nav ms-auto">
                    {% if user.is_staff %}
                        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out ({{ user|title }})</a>
                {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
