{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}

{% if request.resolver_match.url_name == 'result-detail' %}
  <a href="{% url 'result-update' uuid=object.id %}" class="btn btn-primary mt-3 mb-5">Edit</a>
  <fieldset disabled>
{% else %}
  <fieldset>
{% endif %}

  <form method="post">
      {% load crispy_forms_tags %}

      {% crispy form %}

  </form>
</fieldset>

{% if object %}
  <div class="mt-2 text-secondary">Last updated: {{ object.updated_at }}</div>
{% endif %}

<script>

  // This is the listener for select boxes, updating the input on keyup.
  document.querySelectorAll('select').forEach(item => {
    item.addEventListener('keyup', event => {
      if (isNaN(event.key) || event.key > item.length) {
        null
      } else {
        // Assumes 0 index based - as first option in the list is default dashes -----
        let indexKey = parseInt(event.key)
        item.selectedIndex = indexKey;
      }
    })
  })

</script>

{% endblock %}
