{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}

{% with url=request.resolver_match.url_name %}

{% if object.paper_index %}
  <h2>Paper index: {{ object.paper_index}}</h2>
{% endif %}

{% if url == 'result-detail' %}
  <a href="{% url 'result-update' object.paper_index %}" class="btn btn-primary mt-3 mb-5">Edit</a>
  <fieldset disabled>
{% else %}
  <fieldset>
{% endif %}

  <form method="post">
      {% load crispy_forms_tags %}

      {% crispy form %}

      {% if url == 'result-detail' or url == 'uncoded-update' or url == 'uncoded-next' %}
      {% else %}
        <button type="submit" name="submit" value="Submit" class="btn btn-primary mt-3" id="submit-id-submit">Submit</button>
      {% endif %}
  </form>
</fieldset>

{% endwith %}

{% if object %}
  <div class="mt-2 text-secondary">Last updated: {{ object.updated_at }}</div>
{% endif %}

<script>

  // This is the listener for select boxes, updating the input on keyup.
  document.querySelectorAll('select').forEach(item => {
    item.addEventListener('keyup', event => {
      if (isNaN(event.key) || event.key > item.length) {
        null
      } else {
        // Assumes 0 index based - as first option in the list is default dashes -----
        let indexKey = parseInt(event.key)
        item.selectedIndex = indexKey;
      }
    })
  })

</script>

{% endblock %}
